<div id="wrapper">
    <div id="menu">
        <div class="logo"></div>
        <div class="item" page_name="dashboard">
            <div class="icon fas fa-th-large"></div>
            <div class="text">
                <p>Dashboard</p>
            </div>
        </div>
        <div class="item" page_name="hall-passes">
            <div class="icon fas fa-ticket-alt"></div>
            <div class="text">
                <p>Hall Passes</p>
            </div>
        </div>
        <div class="item" page_name="students">
            <div class="icon fas fa-users"></div>
            <div class="text">
                <p>Students</p>
            </div>
        </div>
        <div class="item" page_name="account">
            <div class="icon fas fa-user"></div>
            <div class="text">
                <p>Account</p>
            </div>
        </div>
    </div>
    <div id="content-wrapper">
        <div id="header">
            <p>Welcome</p>
        </div>
        <div id="content"></div>
    </div>
</div>