@import url(gridbox.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Root Design Variables */

:root {
    --black: #000000;
    --white: #ffffff;

    --grey-10: #191919;
    --grey-20: #343434;
    --grey-30: #4c4c4c;
    --grey-40: #666666;
    --grey-50: #7f7f7f;
    --grey-60: #999999;
    --grey-70: #b2b2b2;
    --grey-80: #cccccc;
    --grey-90: #e5e5e5;
    --grey-95: #f2f2f2;

	--blue: #33aff7;

    --purple: #5e52db;
    --purple-light: #7a71dd;
	--purple-dark: #5043d9;

	--error: #ff0033;
	
	--shadow: 4px 4px 9px #b2b2b2, -2px -2px 4px #cccccc;
	--soft-shadow: 4px 4px 9px #e7e7e7, -2px -2px 4px #eeeeee;
	--purple-light-shadow: 4px 4px 9px #7a71dd, -2px -2px 4px #7a71dd;
}

/* Reset all inherent CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}


/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
    background-color: var(--white);
}

	body * {
		overflow: visible;
	}

/* Type */

html {
    font-size: 14pt;
}

    @media screen and (max-width: 1680px) {
        html {
            font-size: 11pt;
        }
    }

    @media screen and (max-width: 980px) {
        html {
            font-size: 12pt;
        }
    }

    @media screen and (max-width: 736px) {
        html {
            font-size: 11pt;
        }
    }

html, body, input, select, textarea {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	margin: 0 0 1.5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 3rem;
	letter-spacing: 0.05em;
}

    @media screen and (max-width: 1280px) {
        h1 {
            font-size: 2.75rem;
        }
    }

    @media screen and (max-width: 980px) {
        h1 {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 736px) {
        h1 {
            font-size: 2.15rem;
        }
    }

h2 {
	font-size: 2.75rem;
	letter-spacing: 0.05em;
}

    @media screen and (max-width: 1280px) {
        h2 {
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 980px) {
        h2 {
            font-size: 2.15rem;
        }
    }

    @media screen and (max-width: 736px) {
        h2 {
            font-size: 1.75rem;
        }
    }

h3 {
	font-size: 2.15rem;
}

    @media screen and (max-width: 980px) {
        h3 {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 736px) {
        h3 {
            font-size: 1.8rem;
        }
    }

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

p {
	font-weight: 300;
	line-height: 150%;
}

a {
	cursor: pointer;
}

hr {
	border: .5px solid var(--grey-20);
	margin: 0 0 1rem 0;
}

strong, b {
	font-weight: 500;
}

em, i {
	font-style: italic;
}

/* Layout */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

h1.align-center,
h2.align-center,
h3.align-center,
h4.align-center,
h5.align-center,
h6.align-center,
p.align-center,
a.align-center,
button.align-center {
	display: block;
	text-align: center;
}

/* Lists */
ul li {
	font-weight: 300;
	margin: 0 0 .5rem 2rem;
	list-style-type: disc;
}

/* Loader */

.loader{
	animation: spin 1s infinite linear;
	border: 2px solid var(--grey-80);
	border-left: 4px solid var(--black);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

/* Wrapper */

#wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

	#wrapper > #menu {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 15rem;
		padding: 3rem 1rem;
		box-shadow: var(--soft-shadow);
		z-index: 101;
	}

		#wrapper > #menu * {
			max-width: 100%;
		}

		#wrapper > #menu > .logo {
			content:url("/assets/images/logo.png");
			position:relative;
			z-index: 102;
			margin-bottom: 2rem;
		}

		#wrapper > #menu > .item {
			color: var(--grey-80);
			padding: .75rem 1.25rem;
			margin-bottom: 1.5rem;
			border-radius: 25px;
			display: inline-block;
			width: 100%;
			cursor: pointer;
		}

			#wrapper > #menu > .item.active {
				color: var(--white);
				background-color: var(--blue);
				box-shadow: 2px 2px 10px #00c7ff;
			}

			#wrapper > #menu .item .icon,
			#wrapper > #menu .item .text {
				margin-right: 1rem;
				float: left;
			}

	#wrapper > #content-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 15rem;
		padding: 2rem 4rem;
		background-color: var(--grey-95);
		z-index: 100;
		overflow: scroll;
	}

		#wrapper > #content-wrapper > * {
			width: 100%;
			min-width: 100%;
		}

		#wrapper > #content-wrapper > #header {
			margin-bottom: 4rem;
		}

			#wrapper > #content-wrapper > #header > p {
				float: right;
				color: var(--grey-20);
			}

/* Wrapper */

.wrapper {
	padding: 7.75rem 0 3.5rem 0 ;
	position: relative;
	overflow-x: hidden;
}

	.wrapper > .inner {
		position: relative;
		margin: 0 auto;
		width: calc(100% - 30rem);
		max-width: 75rem;
	}

	@media screen and (max-width: 1280px) {

		.wrapper {
			padding: 6.75rem 0 2.5rem 0 ;
		}

	}

	@media screen and (max-width: 980px) {

		.wrapper {
			padding: 5.75rem 0 1.5rem 0 ;
		}

	}

	@media screen and (max-width: 736px) {

		.wrapper {
			padding: 4.75rem 0 0.5rem 0 ;
		}

			.wrapper > .inner {
				width: calc(100% - 3rem);
            }
            
    }

.card {
	background-color: var(--white);
    box-shadow: var(--soft-shadow);
    border-radius: 15px;
	padding: 1rem;
}

	.card.alt {
		background-color: var(--grey-95);
	}

	.card.transparent {
		background-color: transparent;
		box-shadow: none;
	}

/* Input */

h1 + input, h1 + textarea, h1 + select,
h2 + input, h2 + textarea, h2 + select,
h3 + input, h3 + textarea, h3 + select,
h4 + input, h4 + textarea, h4 + select,
h5 + input, h5 + textarea, h5 + select,
h6 + input, h6 + textarea, h6 + select {
	margin-top: -1.25rem !important;
}

	input.center {
		text-align: center;
	}

	input.medium {
		font-size: 1.25rem !important;
	}

	input.large {
		font-size: 1.75rem !important;
	}

	input.plain,
	textarea.plain {
		background-color: inherit !important;
		border-color: rgba(0, 0, 0, 0) !important;
		padding: 0rem !important;
	}

		input.plain:focus,
		textarea.plain:focus {
			border-bottom: 1px solid var(--black) !important;
		}

	input.invalid {
		border-color: rgb(196, 0, 0) !important;
	}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border: solid 1px;
	border-radius: 4px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	margin-bottom: .8rem;
    text-decoration: none;
    height: 2.25rem;
	width: 100%;
    max-width: 100%;
    font-size: .9rem;
}

	input[type="text"]:invalid,
	input[type="number"]:invalid
	input[type="password"]:invalid,
	input[type="email"]:invalid,
	select:invalid,
	textarea:invalid {
		box-shadow: none;
	}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin: .75rem 0 1.75rem -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;
	color: var(--black);
}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
		padding: .35rem 0.75rem 1rem 2.55rem;
		position: relative;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			border-radius: 4px;
			border: solid 2px;
			content: '';
			display: inline-block;
			height: 1.8rem;
			left: 0;
			line-height: 1.725rem;
			position: absolute;
			text-align: center;
			top: 0;
			width: 1.8rem;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		content: '\f00c';
		background-color: var(--purple);
		border-color: var(--purple);
		color: var(--white);
	}

input[type="checkbox"] + label:before {
	border-radius: 4px;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

    
/* Button */

input[type="submit"], 
input[type="reset"], 
input[type="button"], 
button, .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 400;
	height: 2.5em;
	letter-spacing: 0.05em;
	line-height: 2.5em;
	padding: 0 1.25em;
    margin: .5rem 0 1.25rem 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input[type="submit"].icon:before, 
input[type="reset"].icon:before, 
input[type="button"].icon:before, 
button.icon:before, .button.icon:before {
	margin-right: 0.5em;
}

	input[type="submit"].icon.no-text, 
	input[type="reset"].icon.no-text, 
	input[type="button"].icon.no-text, 
	button.icon.no-text, .button.icon.no-text {
		margin: 0;
		padding: 0;
		font-size: 1.5rem;
		line-height: 1.5rem;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

input[type="submit"].fit,
input[type="reset"].fit, 
input[type="button"].fit, 
button.fit, .button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small, 
input[type="reset"].small, 
input[type="button"].small, 
button.small, .button.small {
	font-size: 0.7em;
}

input[type="submit"].big, 
input[type="reset"].big, 
input[type="button"].big, 
button.big, .button.big {
	font-size: 1.1em;
}

input[type="submit"].wide, 
input[type="reset"].wide, 
input[type="button"].wide,
button.wide, .button.wide {
	min-width: 15em;
}

input[type="submit"].disabled, 
input[type="submit"]:disabled, 
input[type="reset"].disabled, 
input[type="reset"]:disabled, 
input[type="button"].disabled, 
input[type="button"]:disabled, 
button.disabled, 
button:disabled, 
.button.disabled, 
.button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: 0.25;
}

input[type="submit"].plain, 
input[type="reset"].plain, 
input[type="button"].plain,
button.plain, .button.plain {
	margin-top: 1rem;
	box-shadow: none;
}

	#option-wrapper .option button:hover {
		background-color: var(--white);
	}

input[type="submit"], 
input[type="reset"], 
input[type="button"], 
button, .button {
	background-color: var(--white);
	box-shadow: inset 0 0 0 1px var(--grey-40);
	color: var(--black) !important;
}

input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
button:hover, .button:hover {
	background-color: var(--grey-90);
}

input[type="submit"]:active, 
input[type="reset"]:active, 
input[type="button"]:active, 
button:active, .button:active {
	background-color: var(--grey-90);
}

input[type="submit"].icon:before, 
input[type="reset"].icon:before, 
input[type="button"].icon:before, 
button.icon:before, .button.icon:before {
	color: var(--black);
}

input[type="submit"].special, 
input[type="reset"].special, 
input[type="button"].special,
button.special, .button.special {
	box-shadow: none;
	background-color: var(--purple);
	color: var(--white) !important;
}

input[type="submit"].special.icon:before, 
input[type="reset"].special.icon:before, 
input[type="button"].special.icon:before, 
button.special.icon:before, .button.special.icon:before {
	color: var(--white) !important;
}

input[type="submit"].special:hover, 
input[type="reset"].special:hover, 
input[type="button"].special:hover, 
button.special:hover, .button.special:hover {
	background: var(--purple-dark)
}

input[type="submit"].special:active, 
input[type="reset"].special:active, 
input[type="button"].special:active, 
button.special:active, .button.special:active {
	background: var(--purple-dark)
}

input[type="submit"].plain:hover, 
input[type="reset"].plain:hover, 
input[type="button"].plain:hover,
button.plain:hover, .button.plain:hover {
	background-color: var(--white);
}

input[type="submit"].selected, 
input[type="reset"].selected, 
input[type="button"].selected,
button.special, .button.selected {
	box-shadow: none;
	color: var(--purple) !important;
}

input[type="submit"].selected.icon:before, 
input[type="reset"].selected.icon:before, 
input[type="button"].selected.icon:before, 
button.selected.icon:before, .button.selected.icon:before {
	color: var(--purple) !important;
}

/* Image */

.image {
    margin: 0 0 1rem 0;
    width: 100%;
    border-radius: 6px;
    border: 0;
    position: relative;
    display: block;
}

    .image img {
        border-radius: 6px;
        max-width: 100%;
		height: 100%;
        display: block;
    }


/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	outline: 0;
	position: relative;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}

	.icon.alt {
		font-size: 1.5rem;
	}

		.icon.alt:before {
			border-radius: 100%;
			border: solid 2px;
			display: inline-block;
			text-align: center;
			width: 4.5rem;
			height: 4.5rem;
			line-height: 4.5rem;
		}

	.icon.major {
		display: block;
		margin: 0 0 1.5rem 0;
	}

	@media screen and (max-width: 1280px) {

		.icon.alt {
			font-size: 1.25rem;
		}

			.icon.alt:before {
				width: 4rem;
				height: 4rem;
				line-height: 4rem;
			}

	}

	@media screen and (max-width: 736px) {

		.icon.alt {
			font-size: 1rem;
		}

			.icon.alt:before {
				width: 3rem;
				height: 3rem;
				line-height: 3rem;
			}

	}

a.icon.alt:before {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

a.icon.alt:hover:before {
	background-color: rgba(0, 0, 0, 0.05);
}

a.icon.alt:active:before {
	background-color: rgba(0, 0, 0, 0.175);
}

/* Form */

form, .form {
	text-align: left;
	margin: 0 0 2.5rem 0;
	padding: 2rem;
	border-radius: 15px;
}

    form.small, .form.small {
        max-width: 25rem;
    }

	form .error-message, .form .error-message {
		display: none;
		color: var(--error);  
		margin-bottom: 0;
	}

/* Table */
table {
	table-layout: fixed ;
	width: 100%;
	border-collapse:separate; 
	border-spacing: 0 1em;
}

	table tbody tr {
		min-height: 2.5rem;
	}

		table.lined tbody tr td{ 
			border-bottom: 1px solid var(--grey-90);;
		}

		table.colored tbody tr:nth-of-type(even) {
			background-color: var(--grey-90);
		}

		table.colored tbody tr:nth-of-type(odd) {
			background-color: var(--grey-95);
		}

	table thead tr th,
	table tbody tr td {
		text-align: left;
		width: auto;
		overflow: hidden;
	}

		table tbody tr td *,
		table thead tr th * {
			padding: .5rem 0;
			margin-right: .75rem !important;
			margin: 0;
			overflow: hidden;
		}

		table thead tr th {
			padding-bottom: .3rem;
			font-weight: 500;
		}

			table.sortable thead tr th {
				cursor: pointer;
			}


/* Tab Section */

.tab-section {
    position: relative;
    margin: 0 0 2rem 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

    .tab-section .tabs button {
        width: 100%;
        margin: 0;
        box-shadow: none;
        border-radius: 0px;
        height: 3.5rem;
        float: left;
    } 


        .tab-section .tabs button.active {
            background-color: var(--grey-80);
        } 

    .tab-section .content {
        margin-top: 3.5rem;
        padding: 1rem .5rem 0 .5rem;
        width: 100%;
        border-top: 1px solid var(--black);
    }

        .tab-section .content .tab {
            display: none;
        }

        .tab-section .content .tab:first-of-type {
            display: block;
        }

/* Modal */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	background-color: var(--white);
    box-shadow: var(--shadow);
    border: solid 1px var(--grey-70);
    border-radius: 4px;
	display: none;
	z-index: 100;
	width: 30rem;
	max-width: 95vw;
}

	.modal .close {
		position: absolute;
		top: .5rem;
		right: .5rem;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
		color: var(--black);
		z-index: 101;
		cursor: pointer;
	}

		.modal .close.icon {
			font-size: 1.5rem;
			line-height: 1.5rem;
		}

/* Dashboard Module */

.dashboard-module .header {
	width: 100%;
	height: 3rem;
	border-bottom: solid 1px var(--grey-30);
	position: relative;
}

	.dashboard-module .header .title {
		position: absolute;
		bottom: .5rem;
		left: 0;
	}

	.dashboard-module .header .action {
		position: absolute;
		bottom: .5rem;
		right: 0;
	}

	.dashboard-module .header .title *,
	.dashboard-module .header .action * {
		margin: 0;
	}

.dashboard-module .content {
	min-height: 5rem;
	padding: 1rem;
	margin: 0;
}

/* New Email List */

.email-list {
	max-height: 10rem;
	overflow: scroll;
}

	.email-list .email {
		position: relative;
		width: 100%;
		clear: both;
		overflow: hidden;
	}

		.email-list .email:hover {
			background-color: var(--grey-95);
		}

		.email-list .email p {
			float: left;
			margin: .2rem 0 .2rem .25rem;
		}

		.email-list .email.small p {
			font-size: .75em;
		}

		.email-list .email .remove-email {
			float: right;
			margin: .2rem .5rem .2rem 0;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
			color: var(--black);
			z-index: 101;
			cursor: pointer;
		}