<h3>Account</h3>
<div class="row">
    <div class="12u">
        <h5>Profile Information</h5>
    </div>
    <div class="12u$">
        <div class="image" style="height: 4rem; min-height: 4rem; max-height: 4rem">
            <img id="profile-image" src="/assets/images/default-profile.png" />
        </div>
        <input accept="image/*" type="file" id="select-image" name="select-image" />
    </div>
    <div class="4u">
        <input type="text" name="first_name" id="first_name" autocomplete="given-name" placeholder="First Name"
            required />
    </div>
    <div class="4u$">
        <input type="text" name="last_name" id="last_name" autocomplete="family-name" placeholder="Last Name"
            required />
    </div>
    <div class="4u$">
        <input type="text" name="preferred_name" id="preferred_name" autocomplete="nickname"
            placeholder="Preferred Name" />
    </div>
    <div class="12u$">
        <button id="update-profile">Update Profile</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="6u">
        <div class="row">
            <div class="6u">
                <select name="schools" id="schools-input">
                    <option disabled selected value>Select School</option>
                </select>
                <button id="join-school">Join School</button>
            </div>
        </div>
    </div>
    <div class="6u$">
        <div id="school-preview">
            <h4 id="school-name"></h4>
            <p id="school-email" style="margin-bottom: .5rem;"></p>
            <p id="school-phone" style="margin-bottom: .5rem;"></p>
            <p id="school-address" style="margin-bottom: .5rem;"></p>
        </div>
    </div>
</div>

<hr />
<button id="sign-out">Sign Out</button>