<h3>Teacher Dashboard</h3>
<div class="row">
    <div class="7u dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Upcoming Hall Pass Requests</p>
                </div>
                <div class="action">
                    <button id="view-all-upcoming-passes-button" class="small" page_name="hall-passes">View All</button>
                </div>
            </div>

            <div class="content">
                <div id="upcoming-passes">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 25%" />
                            <col span="1" style="width: 25%" />
                            <col span="1" style="width: 36%" />
                            <col span="1" style="width: 7%" />
                            <col span="1" style="width: 7%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Student</th>
                                <th>Reason</th>
                                <th><span></span></th>
                                <th><span></span></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="5u$ dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Past Hall Pass Requests</p>
                </div>
                <div class="action">
                    <button id="view-all-past-passes-button" class="small" page_name="hall-passes">View All</button>
                </div>
            </div>

            <div class="content">
                <div id="past-passes">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 30%" />
                            <col span="1" style="width: 40%" />
                            <col span="1" style="width: 30%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Student</th>
                                <th>Destination</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="12u$ dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Students</p>
                </div>
                <div class="action">
                    <button id="add-students-button" class="small">Add Students</button>
                    <button id="view-students-button" class="small" page_name="students">View All</button>
                </div>
            </div>

            <div class="content">
                <div id="student-requests" style="display: none">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 85%" />
                            <col span="1" style="width: 7.5%" />
                            <col span="1" style="width: 7.5%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Requests</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

                <div id="current-students">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 20%" />
                            <col span="1" style="width: 60%" />
                            <col span="1" style="width: 20%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-students-modal" class="modal">
    <div class="fa-times close icon"></div>
    <h4>Add Students</h4>
    <p>Add student emails below, either one at a time or seperated by a ','. If the email has an associated account an
        invite will be sent to join the class.</p>
    <div class="row">
        <div class="12u$">
            <input type="text" name="add-student-email" id="add-student-email-field" placeholder="Student Email"
                required list="student-list" style="width: 75%; float: left" />
            <datalist id="student-list"></datalist>
            <button id="add-student-email-button" style="margin-top: 0; float: right">Add</button>
        </div>

        <div id="new-email-list" class="email-list 12u$"></div>

        <div class="12u$">
            <button id="send-new-student-invite" class="align-center" style="display: none">Send Invites</button>
        </div>
    </div>
</div>