<h3>Hall Passes</h3>
<table id="hall-passes-table" class="sortable">
    <colgroup>
        <col span="1" style="width: 15%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 35%" />
        <col span="1" style="width: 5%" />
        <col span="1" style="width: 5%" />
    </colgroup>

    <thead>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Destination</th>
            <th>Reason</th>
            <th>Approved</th>
            <th></th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

