<tr>
    <td><p class="title" style="margin: 0"></p></td>
    <td><button class="fas fa-check icon no-text" action="accept_student_request"></button></td>
    <td><button class="fas fa-times icon no-text" action="reject_student_request"></button></td>
</tr>
