<div class="12u$">
    <div class="card alt">
        <h4 class="center" id="school-name_card"></h4>
        <p id="school-phone_card" style="margin-bottom: .5rem;"></p>
        <p id="school-email_card" style="margin-bottom: .5rem;"></p>
        <p id="school-address_card" style="margin-bottom: .5rem;"></p>

        <button id="join-school" style="margin-top: 2rem;">Join</button>
    </div>
</div>