<tr>
    <td><p class="title" style="margin: 0"></p></td>
    <td><p class="email" style="margin: 0"></p></td>
    <td><button class="teacher-more-info" style="margin: 0; padding: 0 .5rem; float: right;">View More</button></td>
</tr>
