<tr>
    <td row_data="time"><p ></p></td>
    <td row_data="student"><p></p></td>
    <td row_data="reason"><p></p></td>
    <td row_data="accept_pass"><button class="fas fa-check icon no-text accept" action="accept_pass_request"></button></td>
    <td row_data="reject_pass"><button class="fas fa-times icon no-text reject" action="reject_pass_request"></button></td>
</tr>