<h3>Student Dashboard</h3>
<div class="row">
    <div class="8u dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Your Hall Passes</p>
                </div>
                <div class="action">
                    <button id="request-pass-button" class="small">Request Pass</button>
                </div>
            </div>
            <div class="content">
                <div id="current-passes">
                    <table id="current-passes-table" class="sortable lined">
                        <colgroup>
                            <col span="1" style="width: 20%" />
                            <col span="1" style="width: 25%" />
                            <col span="1" style="width: 45%" />
                            <col span="1" style="width: 10%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Destination</th>
                                <th>Reason</th>
                                <th>Approved</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="4u dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Your Teachers</p>
                </div>
                <div class="action">
                    <button id="add-teachers-button" class="small">Add Teacher</button>
                </div>
            </div>

            <div class="content">
                <div id="teacher-requests" style="display: none">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 70%" />
                            <col span="1" style="width: 15%" />
                            <col span="1" style="width: 15%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Requests</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

                <div id="current-teachers" style="display: none">
                    <table class="lined" >
                        <colgroup>
                            <col span="1" style="width: 100%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Teachers</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-teachers-modal" class="modal">
    <div class="fa-times close icon"></div>
    <h4>Add Teachers</h4>
    <p>Add teachers emails below, either one at a time or seperated by a ','. If the email has an associated account a
        request will be sent to join the class.</p>
    <div class="row">
        <div class="12u$">
            <input type="text" name="add-teacher-email" id="add-teacher-email-field" placeholder="Teacher Email" required list="teacher-list" style="width: 75%; float: left" />
            <datalist id="teacher-list"></datalist>
            <button id="add-teacher-email-button" style="margin-top: 0; float: right">Add</button>
        </div>

        <div id="new-email-list" class="email-list 12u$"></div>

        <div class="12u$">
            <button id="send-new-teacher-request" class="align-center" style="display: none">Send Requests</button>
        </div>
    </div>
</div>

<div id="request-pass-modal" class="modal" style="width: 35rem;">
    <div class="fa-times close icon"></div>
    <h4>Request Pass</h4>

    <form name="new-pass-request">
        <p id="pass-request-form-error-message" class="align-center error-message"></p>
        <div class="row">
            <div class="4u">
                <label>Date</label>
                <input type="text" data-toggle="datepicker" name="pass-date" readonly="readonly" />
            </div>
            <div class="2u">
                <label>Hour</label>
                <input type="number" name="pass-hour" id="pass-hour-field" min="1" max="12" current_hour="true"
                    style="padding: 0; text-align: center; border: 0" />
            </div>
            <div class="2u">
                <label>Minute</label>
                <input type="number" name="pass-minute" id="pass-minute-field" min="1" max="59" current_minute="true"
                    style="padding: 0; text-align: center; border: 0" />
            </div>
            <div class="2u$">
                <label>Period</label>
                <input type="text" name="pass-period" id="pass-period-field" list="period-datalist"
                    style="padding: 0; text-align: center; border: 0" />
                <datalist id="period-datalist"></datalist>
            </div>

            <div class="6u">
                <input type="text" name="pass-origin" id="pass-origin-field" placeholder="Origin" required />
            </div>
            <div class="6u$">
                <input type="text" name="pass-destination" id="pass-destination-field" placeholder="Destination"
                    required />
            </div>

            <div class="12u$">
                <input type="text" name="pass-teachers" id="pass-teachers-field" list="known-teachers" value=""
                    placeholder="Add Teacher" style="width: 75%; float: left"/>
                <datalist id="known-teachers"></datalist>
                <button id="add-teacher-to-pass-email-button" type="button" style="margin-top: 0; float: right">Add</button>
            </div>

            <div id="pass-email-list" class="email-list 12u$"></div>

            <div class="12u$">
                <input type="text" name="pass-reason" id="pass-reason-field" placeholder="Reason" />
            </div>

            <div class="12u$">
                <input type="submit" id="send-new-pass-request" value="Send Pass Request" />
            </div>
        </div>
    </form>
</div>