<h3>Hall Passes</h3>
<table id="hall-passes-table" class="sortable lined">
    <colgroup>
        <col span="1" style="width: 15%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 35%" />
        <col span="1" style="width: 10%" />
    </colgroup>

    <thead>
        <tr>
            <th>Date</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Reason</th>
            <th>Approved</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

