<h4>Your Teachers</h4>
<table id="current-teachers-table" class="sortable lined">
    <colgroup>
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 60%" />
        <col span="1" style="width: 20%" />
    </colgroup>

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<hr style="margin: 4rem 0 3rem 0;"/>
<h4>All Teachers</h4>
<table id="all-teachers-table" class="sortable lined">
    <colgroup>
        <col span="1" style="width: 20%" />
        <col span="1" style="width: 60%" />
        <col span="1" style="width: 20%" />
    </colgroup>

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<div id="teacher-info-modal" class="modal">
    <div class="fa-times close icon"></div>
    <h4>Teacher Information</h4>

    <p id="preferred_name" style="padding-bottom: .5rem;"></p>
    <p id="first_name" style="padding-bottom: .5rem;"></p>
    <p id="last_name" style="padding-bottom: .5rem;"></p>
    <p id="email" style="padding-bottom: .5rem;"></p>
</div>