<p>You are not currently associated with a school, either join a school or create one.</p>

<div class="row" style="margin-top: 4rem;">
    <div class="4u">
        <div class="card transparent">

            <div class="row">
                <div class="12u$">
                    <h4>Join a School</h4>
                </div>
                <div class="12u$">
                    <select name="schools" id="schools-input">
                        <option disabled selected value>Select School</option>
                    </select>
                </div>
                <div class="12u$">
                </div>
            </div>
        </div>

        <div id="school-preview"></div>
    </div>
    <div class="8u$">
        <div class="card">
            <div class="row">
                <div class="12u$">
                    <h4>Create a School</h4>
                </div>
                <div class="6u$">
                    <input type="text" id="school-name" placeholder="School Name">
                </div>
                <div class="6u">
                    <input type="text" id="primary-email" placeholder="Primary Email">
                </div>
                <div class="6u$">
                    <input type="text" id="primary-phone" placeholder="Primary Phone">
                </div>
                <div class="12u$">
                    <hr>
                </div>
                <div class="12u$">
                    <input type="text" id="address-line-one" placeholder="Address Line 1">
                </div>
                <div class="12u$">
                    <input type="text" id="address-line-two" placeholder="Address Line 2">
                </div>
                <div class="6u">
                    <input type="text" id="city" placeholder="City">
                </div>
                <div class="6u$">
                    <input type="text" id="state" placeholder="State">
                </div>
                <div class="6u">
                    <input type="text" id="postal-code" placeholder="Postal Code">
                </div>
                <div class="6u$">
                    <input type="text" id="country" placeholder="Country">
                </div>
                <div class="12u$">
                    <button id="create-school">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>