
<div class="row">
    <div class="12u$">
        <h3 id="school-name-header"></h3>
    </div>

    <div class="12u$">
        <div class="card">
            <div class="row">
                <div class="12u$">
                    <h4>School Information</h4>
                </div>
                <div class="6u$">
                    <input type="text" id="school-name" placeholder="School Name">
                </div>
                <div class="6u">
                    <input type="text" id="primary-email" placeholder="Primary Email">
                </div>
                <div class="6u$">
                    <input type="text" id="primary-phone" placeholder="Primary Phone">
                </div>
                <div class="12u$">
                    <hr>
                </div>
                <div class="12u$">
                    <input type="text" id="address-line-one" placeholder="Address Line 1">
                </div>
                <div class="12u$">
                    <input type="text" id="address-line-two" placeholder="Address Line 2">
                </div>
                <div class="6u">
                    <input type="text" id="city" placeholder="City">
                </div>
                <div class="6u$">
                    <input type="text" id="state" placeholder="State">
                </div>
                <div class="6u">
                    <input type="text" id="postal-code" placeholder="Postal Code">
                </div>
                <div class="6u$">
                    <input type="text" id="country" placeholder="Country">
                </div>
                <div class="12u$">
                    <button id="update-school">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>