<h3>Staff Dashboard</h3>
<div class="row">
    <div class="7u dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Upcoming Hall Pass Requests</p>
                </div>
                <div class="action">
                    <button id="view-all-upcoming-passes-button" class="small" page_name="hall-passes">View All</button>
                </div>
            </div>

            <div class="content">
                <div id="upcoming-passes">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 25%" />
                            <col span="1" style="width: 25%" />
                            <col span="1" style="width: 36%" />
                            <col span="1" style="width: 7%" />
                            <col span="1" style="width: 7%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Student</th>
                                <th>Reason</th>
                                <th><span></span></th>
                                <th><span></span></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="5u$ dashboard-module">
        <div class="card">
            <div class="header">
                <div class="title">
                    <p>Past Hall Pass Requests</p>
                </div>
                <div class="action">
                    <button id="view-all-past-passes-button" class="small" page_name="hall-passes">View All</button>
                </div>
            </div>

            <div class="content">
                <div id="past-passes">
                    <table class="lined">
                        <colgroup>
                            <col span="1" style="width: 30%" />
                            <col span="1" style="width: 40%" />
                            <col span="1" style="width: 30%" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Student</th>
                                <th>Destination</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>