<h3>Hall Passes</h3>
<div class="row" style="margin-top: 4rem;">
    <div class="4u">
        <div class="card">
            <h4>Create Pass</h4>
            <form name="new-pass-request">
                <p id="pass-request-form-error-message" class="align-center error-message"></p>
                <div class="row">
                    <div class="6u">
                        <label>Date</label>
                        <input type="text" data-toggle="datepicker" name="pass-date" readonly="readonly" />
                    </div>
                    <div class="2u">
                        <label>Hour</label>
                        <input type="number" name="pass-hour" id="pass-hour-field" min="1" max="12" current_hour="true"
                            style="padding: 0; text-align: center; border: 0" />
                    </div>
                    <div class="2u">
                        <label>Minute</label>
                        <input type="number" name="pass-minute" id="pass-minute-field" min="1" max="59"
                            current_minute="true" style="padding: 0; text-align: center; border: 0" />
                    </div>
                    <div class="2u$">
                        <label>Period</label>
                        <input type="text" name="pass-period" id="pass-period-field" list="period-datalist"
                            style="padding: 0; text-align: center; border: 0" />
                        <datalist id="period-datalist"></datalist>
                    </div>

                    <div class="6u">
                        <input type="text" name="pass-origin" id="pass-origin-field" placeholder="Origin" required />
                    </div>
                    <div class="6u$">
                        <input type="text" name="pass-destination" id="pass-destination-field" placeholder="Destination"
                            required />
                    </div>

                    <div class="12u$">
                        <input type="text" name="pass-teachers" id="pass-teachers-field" list="known-teachers" value=""
                            placeholder="Add Teachers" style="width: 75%; float: left" />
                        <datalist id="known-teachers"></datalist>

                        <button id="add-teacher-email-button" type="button" style="margin-top: 0; float: right">Add</button>
                    </div>

                    <div id="teacher-email-list" class="email-list 12u$"></div>

                    <div class="12u$">
                        <input type="text" name="pass-students" id="pass-students-field" list="known-students" value=""
                            placeholder="Add Students" style="width: 75%; float: left" />
                        <datalist id="known-students"></datalist>

                        <button id="add-student-email-button" type="button" style="margin-top: 0; float: right">Add</button>
                    </div>

                    <div id="student-email-list" class="email-list 12u$"></div>

                    <div class="12u$">
                        <input type="text" name="pass-reason" id="pass-reason-field" placeholder="Reason" />
                    </div>

                    <div class="12u$">
                        <input type="submit" id="send-new-pass-request" value="Send Pass Request" />
                    </div>
                </div>
        </div>
    </div>
    <div class="8u$">
        <div class="card transparent">
            <h4>All Passes</h4>

            <table id="hall-passes-table" class="sortable lined">
                <colgroup>
                    <col span="1" style="width: 15%" />
                    <col span="1" style="width: 20%" />
                    <col span="1" style="width: 20%" />
                    <col span="1" style="width: 30%" />
                    <col span="1" style="width: 10%" />
                    <col span="1" style="width: 5%" />
                </colgroup>

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Student</th>
                        <th>Destination</th>
                        <th>Reason</th>
                        <th>Approved</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>