<tr>
    <td row_data="date"><p ></p></td>
    <td row_data="origin"><p></p></td>
    <td row_data="destination"><p></p></td>
    <td row_data="reason"><p></p></td>
    <td row_data="approved"><span class="icon fas" style="margin-left: 1.9rem;"></span></td>
</tr>