<tr>
    <td><p class="title" style="margin: 0"></p></td>
    <td><button class="fas fa-check icon no-text accept"></button></td>
    <td><button class="fas fa-times icon no-text reject"></button></td>
</tr>
