<div class="wrapper">
    <div class="inner row">
        <div class="8u">
            <h1 style="margin-bottom: 0;">Hall Pass</h1>
            <h4>Bernard Kintzing</h4>
            <p>Hall Pass is a web and iOS app built to address the struggle teachers face by the outdated pen and paper
                hall pass system. Hall Pass takes the current functionality and moves it online in an easy-to-use
                system.</p>
            <hr style="margin: 2rem 0">
            <h3>Testing</h3>
            <p>Hall Pass has three supported account types; staff, teacher, and student. For testing, accounts have
                already been made with prefilled data. Each account can be accessed with the password
                <b>h4Ji-9LKq-49hd</b>.
                Feel free to make an account if you wish. Teachers and Students can create a link between the two, so
                teachers can view their student's passes, and students can request a pass related to their teacher. With
                the test accounts, students and teachers are linked based on the number in their email (e.g.
                westminster_teacher01@hall-pass-5c557.web.app is linked to
                westminster_student01@hall-pass-5c557.web.app).
            </p>
            <h4 style="margin: 2rem 0 .5rem 0;">Staff Accounts:</h4>
            <ul>
                <li>westminster_staff@hall-pass-5c557.web.app</li>
                <li>uofu_staff@hall-pass-5c557.web.app</li>
            </ul>

            <h4 style="margin: 2rem 0 .5rem 0;">Teacher Accounts:</h4>
            <ul>
                <li>westminster_teacher01@hall-pass-5c557.web.app</li>
                <li>westminster_teacher02@hall-pass-5c557.web.app</li>
                <li>westminster_teacher03@hall-pass-5c557.web.app</li>
                <li>uofu_teacher01@hall-pass-5c557.web.app</li>
                <li>uofu_teacher02@hall-pass-5c557.web.app</li>
                <li>uofu_teacher03@hall-pass-5c557.web.app</li>
            </ul>

            <h4 style="margin: 2rem 0 .5rem 0;">Student Accounts:</h4>
            <ul>
                <li>westminster_student01@hall-pass-5c557.web.app</li>
                <li>westminster_student02@hall-pass-5c557.web.app</li>
                <li>westminster_student03@hall-pass-5c557.web.app</li>
                <li>uofu_student01@hall-pass-5c557.web.app</li>
                <li>uofu_student02@hall-pass-5c557.web.app</li>
                <li>uofu_student03@hall-pass-5c557.web.app</li>
            </ul>
        </div>
        <div class="4u">
            <div class="tab-section card">
                <div class="tabs">
                    <button class="active" style="width: 50%" name="sign-in">Sign In</button>
                    <button style="width: 50%" name="sign-up">Sign Up</button>
                </div>

                <div class="content">
                    <div class="form tab" name="sign-in-content">
                        <p id="sign-in-form-error-message" class="align-center error-message"></p>
                        <div class="row">
                            <div class="12u$">
                                <input type="email" name="sign-in-email" id="sign-in-email" autocomplete="email"
                                    placeholder="Email" required />
                            </div>
                            <div class="12u$">
                                <input type="password" name="sign-in-password" id="sign-in-password"
                                    autocomplete="current-password" placeholder="Password" required />
                            </div>
                            <div class="12u$">
                                <input type="submit" name="sign-in" id="sign-in" value="Sign In" />
                            </div>
                        </div>
                    </div>

                    <div class="form tab" name="sign-up-content">
                        <p id="sign-up-form-error-message" class="align-center error-message"></p>
                        <div class="row">
                            <div class="12u$">
                                <input type="email" name="sign-up-email" id="sign-up-email" autocomplete="email"
                                    placeholder="Email" required />
                            </div>
                            <div class="12u$">
                                <input type="password" name="sign-up-password" id="sign-up-password"
                                    autocomplete="new-password" placeholder="Password" 
                                    required />
                            </div>
                            <div class="12u$">
                                <input type="password" name="sign-up-confirm-password" id="sign-up-confirm-password"
                                    autocomplete="new-password" placeholder="Confirm Password"
                                    required />
                            </div>
                            <div class="4u">
                                <input type="radio" id="teacher-account-type-radio" name="account-type"
                                    value="teacher" />
                                <label for="teacher-account-type-radio">Teacher</label>
                            </div>
                            <div class="4u">
                                <input type="radio" id="staff-account-type-radio" name="account-type" value="staff" />
                                <label for="staff-account-type-radio">Staff</label>
                            </div>
                            <div class="4u$">
                                <input type="radio" id="student-account-type-radio" name="account-type"
                                    value="student" />
                                <label for="student-account-type-radio">Student</label>
                            </div>
                            <div class="12u$">
                                <input type="submit" name="sign-up" id="sign-up" value="Sign Up" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>